{% extends 'base.html' %}
{% block body %}
<div class="container col-lg-2 col-lg-12">
<div class="my-5">
    <h3>Change Promoter</h3>
</div>
<form action={{ url_for('render_izmena1',id=promoter.id) }} method="POST">
    <div class="form-group">
        <label for="ime">Ime</label>
        <input type="text" class="form-control" name="ime" value={{ promoter.ime }} required style="width: 600px;"> 
    </div>
    <div class="form-group">
        <label for="prezime">Prezime</label>
        <input type="text" class="form-control" name="prezime" value={{ promoter.prezime }} required style="width: 600px;"> 
    </div>
    <div class="form-group"> 
        <label for="email">E-mail</label>
        <input type="text" class="form-control" name="email" value={{ promoter.email }} required style="width: 600px;"> 
    </div>
    <div class="form-group"> 
        <label for="godina">Godina rodjenja</label>
        <input type="text" class="form-control" name="godina" value={{ promoter.godina }} required style="width: 600px;"> 
    </div>
    
    <div class="form-group">
        <select name="rola" class="form-control" style="width: 600px;">
            <option value="" {% if promoter.rola=="" %} selected {% endif %} disabled>Rola</option>
            <option value="administrator" {% if promoter.rola=="Administrator" %} selected {% endif %}>Administrator</option>
            <option value="C.E.O" {% if promoter.rola=="C.E.O" %} selected {% endif %}>C.E.O</option>
        </select>
    </div>
   
    <input type="submit" value="Sacuvaj" class="btn btn-danger">
</form>
</div>






{% endblock %}